@font-face{
	font-family: fatal;
	src: url(../fonts/fatal.ttf);
}

#cssPage{
	font-family: fatal;
}
@font-face{
	font-family: disco;
	src: url(../fonts/disco.ttf);
}

#javascriptPage{
	font-family: disco;
}